.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .displayBlock {
    display: block;
  }
  
  .displayNone {
    display: none;
  }

  .modalMain {
    position:fixed;
    background: white;
    width: 70%;
    height: 600px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }

  /* .modalMain form {

    width: 100px;
    margin: 0 auto;
    text-align: left;
  } */

  /* .modalMain label {
      display: block;
  }
   */