.field {
    width: 47px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border: 1px solid grey;
    padding: 0;
    padding-left: 11px;
    background-color: rgba(238, 238, 238, 0.863);
}

.textField {
    padding-left: 5.5px;
    padding-right: 5.5px;
    cursor: default;}

div.field, .fieldsWrapper {
    display: inline-block;
}

.empty {
    background-color: #fff;
}

.clicked {
    background-color: rgba(161, 209, 248, 0.644)
}

.field:hover {
    background-color: rgba(96, 179, 247, 0.623)
}

.textField:hover {
    background-color: rgba(238, 238, 238, 0.863);
}

.fieldsWrapper:nth-of-type(3n) {
    border-right: 1px solid black;
}

.fieldsWrapper:nth-of-type(19),
.fieldsWrapper:nth-of-type(20),
.fieldsWrapper:nth-of-type(21),
.fieldsWrapper:nth-of-type(22),
.fieldsWrapper:nth-of-type(23),
.fieldsWrapper:nth-of-type(24),
.fieldsWrapper:nth-of-type(25),
.fieldsWrapper:nth-of-type(26),
.fieldsWrapper:nth-of-type(27),
.fieldsWrapper:nth-of-type(46),
.fieldsWrapper:nth-of-type(47),
.fieldsWrapper:nth-of-type(48),
.fieldsWrapper:nth-of-type(49),
.fieldsWrapper:nth-of-type(50),
.fieldsWrapper:nth-of-type(51),
.fieldsWrapper:nth-of-type(52),
.fieldsWrapper:nth-of-type(53),
.fieldsWrapper:nth-of-type(54){
    border-bottom: 1px solid black;;
}
